.intro__list {
    max-width: 690px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 33px 0 0;
    font-family: 'Inter', Arial, sans-serif;
    list-style-type: none;
    color: white;
    padding-inline-start: 0;
}