.footer__links-list{
    width: 465px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 18px;
}


@media  screen and (max-width:767px){
    .footer__links-list{
        flex-direction: column;
        align-items: start;
        padding-left: 16px;
        gap: 32px;
    }
    }